@{
    Layout = "_LayoutHead";
    ViewData["showCopyright"] = false;

    ViewData["Links"] = new Dictionary<string, string>()
    {
        { "Home", "/Index" },
        { "Submit", "/Submit" }
    };
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">OpenWhistle</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @foreach (var link in (Dictionary<string, string>)ViewData["Links"])
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="@link.Value">@link.Key</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container d-flex">
        <div id="copyright" class="@((bool)ViewData["showCopyright"] ? "d-inline-block" : "d-none")">&copy; @DateTime.Now.Year - <a href="https://github.com/jpylypiw/OpenWhistle">OpenWhistle</a></div>
        <div class="@((bool)ViewData["showCopyright"] ? "d-inline-block" : "d-none")">&nbsp;|&nbsp;</div>
        <div id="imprint" class="d-inline-block"><a asp-area="" asp-page="/Imprint">Imprint</a></div>
        <div class="d-inline-block">&nbsp;|&nbsp;</div>
        <div id="privacy" class="d-inline-block"><a asp-area="" asp-page="/Privacy">Privacy</a></div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)